{% extends "base.html.twig" %}

{% block title %}{% trans %}Merci !{% endtrans %}{% endblock %}

{% block body %}

<h1 class="bg-light mt-3">{% trans %}Merci de votre commande !{% endtrans %}</h1>

{% endblock %}