{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}BACKOFFICE{% endblock %}

{% block content_title 'Bienvenue sur le backoffice ! =)' %}
{% block main %}

	<h1 class="text-center fw-bold">Veuillez cliquez sur un des liens du menu à gauche pour accéder aux autres parties du Backoffice
	</h1>

{% endblock %}
